@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

/* Initial Setup */
:root{
    /* --lg-font: 'Josefin Sans', serif; */
    /* --sm-font: 'Poppins', sans-serif;
    --pink: #e5345b;
    --primary: #0d6efd;
    --warning: #ffc107; */
    --theme-purple: #7430F9;
    --hover-purple: #4F3B78;
}
body {
    font-family: 'Poppins', sans-serif;
}

.btn {
  border-radius: 5px;
  background-color: var(--theme-purple);
  color: antiquewhite;
}

.btn:hover {
  background-color: var(--hover-purple);
  color: #fff;
}
